*.d
*.o
*.so
*.ko
*.obj
*.elf
*.ghc
*.pch
*.lib
*.a
*.la
*.lo
*.out
*.hex
*.dSYM/
*.su
tags
build
bin
pluto-vm/pluto-vm
atom-vm/atom-vm
pluto-vm-tests
atom-vm-tests
tests
aasm
*.S
atom-vm/aasm
atom-vm/*.S
